.btn_wrapper {
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  cursor: pointer;
}

.mainBtn {
  color: antiquewhite;
  background-color: black;
}

.primaryBtn {
  color: antiquewhite;
  background-color: rgb(97, 31, 31);
}
